body { background: #2a9471; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 59px; display: flex; }
.block-email-0 { color: #69d7b4; font-size: 18px; margin-bottom: 5px; }
.block-cache-1 { color: #ff1511; font-size: 12px; margin-bottom: 5px; }
.block-product-2 { color: #cc828d; font-size: 18px; margin-bottom: 5px; }
.block-database-3 { color: #e43171; font-size: 20px; margin-bottom: 5px; }
.block-auth-4 { color: #c860e9; font-size: 17px; margin-bottom: 5px; }
.block-router-5 { color: #663f3c; font-size: 21px; margin-bottom: 5px; }